.body {
    font-size: 16px;
    font-family: 'NanumSquareRound', sans-serif;
}

h1 {
    color: #0C356A;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0.25px;
}

h2{
    font-size: 30px;
    font-weight: 550;
    padding:0 40px 0;
}

h4{
    text-align:left;
    padding:50px 40px 30px;
}

h5 {
    font-weight: 400;
    font-size:20px;
    color: #838383;
    padding-bottom:10px;
}

.centered-content {
    display: flex;
    flex-direction: column;
    padding-top:70px;
    align-items: center;
    width: 90%;
    text-align: center;
    margin: auto;
    font-family: 'NanumSquareRound', sans-serif;
}

hr {
    width: 90%;
}

.news{
    padding:30px 0 30px;
}

.flex-container{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
}

.row>* {
    padding-right: 50px;
    padding-left: 50px;
}

.hospital-container{
    padding:50px 0 20px;
}

.card{
    border-radius: 6px;
    border: 1px solid #EEE;
    display: flex;
}

.card-body{
    padding:0px;
    font-family: 'NanumSquareRound', sans-serif;
}

.custom-container {
  width: 390px;
  height: 49px;
  padding: 10px 14px 10px 14px;
  box-sizing: border-box;
  background: #F4F4F4;
  position: relative;
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.20);
}

.btn-group-lg>.btn, .btn-lg {
    font-size: 15px;
    border-radius: 20px;
    width: 180px;
    height: 34px;
    text-align: center;
    padding-top:7px;
}

form {
  width: 70%;
  height: 50px;
  margin: 30px 0 90px;
  text-align: center;
}

.checkbox-group {
    display: flex;
    flex-direction: row;
}

.checkbox-group label {
    display: flex;
    align-items: center;
    margin: 10px;
    width: 171px;
    height: 61px;
    flex-shrink: 0;
    border-radius: 20px;
    justify-content: center;
}

.checkbox-group input[type="checkbox"]:checked + label {
    background-color: #5B7FFF;
    border:none;
    color: #fff;
    font-size: 15px;
}

.checkbox-group input[type="checkbox"]:not(:checked) + label {
    background-color: #D9D9D9;
    border:none;
    color: #000;
    font-size: 15px;
}

.checkbox-group input:hover {
    background-color: #6c757d;
}

input[type="search"] {
  height: 40px;
  width: 70%;
  border: 1px solid #e0e0e0;
  padding: 30px;
  border-radius: 15px;
  display: block;
  margin: auto;
  background: url(images/search-solid.png) 4% no-repeat;
  background: #F4F4F4;
}

.subject{
    padding-top:40px;
}

.subject_title{
    font-size: 25px;
    font-family: Pretendard;
    font-weight: 500;
}

.subject_title_wrapper{
    padding-bottom:10px;
}

.subject_search{
    padding:20px;
}

.subject_searchbtn{
    border-radius: 15px;
    background: #0174BE;
    border: none;
    color: #FFF;
    font-size: 15px;
    width: 214px;
    height: 35px;
    flex-shrink: 0;
    padding-bottom:5px 0 30px;
}

.nav-link{
    font-size: 20px;
    color: #000;
}

.nav-container{
    padding:0 0 30px;
}

.btn btn-primary{
    width: 171px;
    height: 62px;
    flex-shrink: 0;
    border-radius: 20px;
}

.btn-primary-hospital{
    border-radius: 15px;
    width: 168px;
    height: 34px;
    background: #0174BE;
    color:#FFF;
    padding-top:4px;
}

.btn-primary {
    color:#fff;
    background-color:#0174BE;
    border-color:#0174BE;
}

.btn-secondary {
    color:#838383;
    background-color:#F4F4F4;
    border-color:#F4F4F4;
}

.btn-primary:hover {
    background-color: #0069ab;
    color: white;
    border-color: #0174BE;
}

.btn-secondary:hover {
    background-color:#dddddd;
    color:#838383;
    border-color:#dddddd;
}






