@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.navbar {
font-family: 'NanumSquareRound', sans-serif;
font-size: 20px;
}

.navbar .nav-link {
    font-family: 'NanumSquareRound', sans-serif;
}

.navbar-brand {
    font-size: 24px;
}

#navbarNavDropdown {
    justify-content: space-between;
}

.nav-item {
    margin: 0 20px;
}