<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <title>병원 지도</title>
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}" media="screen">
    <script src="https://kit.fontawesome.com/bdcda05bfe.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="{% static 'hospital/css/hospital_styles.css' %}">
    <link rel="stylesheet" href="{% static 'common_style.css' %}">
</head>
<body>
<!-- NavBar -->
{% include 'navbar.html' %}
<div class="row">
    <div id="hospital_list" class="col-md-3 z-3" style="background-color: white; width: 380px;">
        <!-- 검색 -->
        <form class="search-form d-flex mb-3 pt-3 z-2" role="search" id="searchForm">
            <input class="form-control me-2 z-2" type="search" placeholder="병원 이름 또는 후기 내용으로 검색" aria-label="검색어" id="searchQuery">
            <button class="btn btn-outline-primary z-2" type="button" onclick="searchHospitals()" style="width: 100px">검색</button>
        </form>
        <!-- 즐겨찾기 목록 보기 -->
        {% if user.is_authenticated %}
            <button class="bookmark-btn btn mb-3 border-1" type="button" data-bs-toggle="button" id="bookmarkButton" style="border-color: lightgrey">
                <i class="fa fa-bookmark" style="color: #0174BE;"></i>
                <span>즐겨찾기 목록</span>
            </button>
        {% else %}
            <a class="bookmark-btn btn mb-3 border-1" href="/accounts/login/" style="border-color: lightgrey" id="bookmarkButton">
                <i class="fa fa-bookmark" style="color: #0174BE;"></i>
                <span>즐겨찾기 목록</span>
            </a>
        {% endif %}
        <!-- 병원 목록 -->
        <div id="hospital-block" style="height: calc(100% - 160px);">
            {% block list_block %}
            {% endblock %}
        </div>
    </div>
    <!-- 지도 -->
    <div class="map_wrap col-md-9" style="display: flex">
        <div id="map" style="width:100%;height:100%;overflow:hidden;"></div>
        <ul id="category" class="d-flex list-unstyled row" style="width: 40%">
            <div>
                <li class="me-3 ms-3">
                    <span>진료과목:</span>
                    <select class="form-select category-select" id="categorySelect">
                        <option value="" {% if not category %}selected{% endif %}>전체보기</option>
                        {% for c in categories %}
                        <option value="{{ c }}" {% if category and c == category %}selected{% endif %}>{{ c }}</option>
                        {% endfor %}
                    </select>
                </li>
                <li class="me-3 ms-3">
                    <span>정렬기준:</span>
                    <select class="form-select order-select">
                        <option selected>정렬기준</option>
                        <option value="distance">거리가까운순</option>
                        <option value="rating">별점높은순</option>
                        <option value="review">리뷰많은순</option>
                    </select>
                </li>
            </div>
            <div>
            <li class="me-3 ms-3">
                <span>상세설정:</span>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="false" id="has_female_doctor">
                    <label class="form-check-label" for="has_female_doctor">여성의사여부</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="false" id="has_evening_hours">
                    <label class="form-check-label" for="has_evening_hours">야간진료</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="false" id="has_holiday_hours">
                    <label class="form-check-label" for="has_holiday_hours">휴일진료</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="false" id="is_partnership">
                    <label class="form-check-label" for="is_partnership">학교제휴병원</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="false" id="tb_test">
                    <label class="form-check-label" for="tb_test">결핵검사병원</label>
                </div>
            </li>
            </div>
        </ul>
    </div>
</div>
<!-- 병원 상세 정보 (offcanvas) -->
<div class="offcanvas offcanvas-start detail-canvas z-0" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
     id="offcanvasScrolling">
</div>

<!-- 리뷰 수정 & 삭제 (modal) -->
{% include 'hospitals/review_update_form.html' %}
{% include 'hospitals/review_delete_form.html' %}
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript"
        src="//dapi.kakao.com/v2/maps/sdk.js?appkey=c943b1898ad9e05ed319cf1cb6bfe096&libraries=services"></script>
<script type="text/javascript" src="{% static 'hospital/js/map_scripts.js' %}"></script>
<script type="text/javascript" src="{% static 'hospital/js/hospital_scripts.js' %}"></script>
<script type="text/javascript" src="{% static 'hospital/js/search_scripts.js' %}"></script>
</html>