<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <title>병원 지도</title>
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}" media="screen">
    <script src="https://kit.fontawesome.com/bdcda05bfe.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <title>Bootstrap Example</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="{% static 'hospital/css/hospital_styles.css' %}">
</head>
<body>
<!-- NavBar -->
{% include 'navbar.html' %}
<div class="row">
    <div id="hospital_list" class="col-md-3 pr-0" style="background-color: white; width: 400px;">
        <!-- 검색 -->
        <form class="search-form d-flex mb-3 pt-3" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit" style="width: 100px">검색</button>
        </form>
        <!-- 병원 목록 & 상세 -->
        {% block list_block %}
        {% endblock %}
    </div>
    <!-- 지도 -->
    <div class="map_wrap col-md-9" style="display: flex">
        <div id="map" style="width:100%;height:100%;overflow:hidden;"></div>
        <ul id="category">
            <li id="HP8" data-order="2">
                <span class="category_bg pharmacy"></span>
                <!--<span class="icon fas fa-hospital"></span>-->
                병원
            </li>
        </ul>
    </div>

    <script type="text/javascript"
            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=c943b1898ad9e05ed319cf1cb6bfe096&libraries=services"></script>
    <script type="text/javascript" src="{% static 'hospital/js/hospital_scripts.js' %}"></script>
</div>
</body>
</html>